{% extends "base.html" %}
{% block title %}Submit Job{% endblock %}
{% block body %}
    <h1>Submit Job</h1>
    <form method=post enctype=multipart/form-data>
        Script (python)
        <input type=file id=script name=script class=submitfile />

        Dockerfile (dockerfile)
        <input type=file id=dockerfile name=dockerfile class=submitfile />

        Data description (json)
        <input type=file id=datadesc name=datadesc class=submitfile />
        
        <input type=submit value=Upload />
    </form>
{% endblock %}
