<!doctype html>
<html>
<style>

body {
    font-family: "Arial", "sans-serif";
}

input[type=file] {
    display: block;
}

</style>



<title>Submit Job</title>
<body>
    <h1>Submit Job</h1>
    <form method=post enctype=multipart/form-data>
        Script (python)
        <input type=file id=script name=script class=submitfile />

        Dockerfile (dockerfile)
        <input type=file id=dockerfile name=dockerfile class=submitfile />

        Data description (json)
        <input type=file id=datadesc name=datadesc class=submitfile />
        
        <input type=submit value=Upload />
    </form>
</body>
</html>
